html {
  scroll-behavior: smooth;
}

th,
td,
thead,
tr {
  border: 1px solid black;
  background-color: lightgreen;
  margin: 4em;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: rgb(88, 175, 179);
}

table {
  border: 2px solid black;
  margin: 4em;
}
footer {
  /* background-color: lightblue; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: Arial;
}

img {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-family: 'Inconsolata', monospace;
  font-size: 1.5em;
}

figcaption {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
 img#wordcamp {
   width: 50%;
 }

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
header {
  margin-top: 100px; /* Add a top margin to avoid content overlay */
}

ul {
  list-style: none; /*remove bullets from unordered list */
  font-family: 'Inconsolata', monospace;
}
