th,
td,
thead,
tr {
  border: 1px solid black;
  background-color: lightgreen;
  margin: 4em;
}
body {
  background-color: rgb(88, 175, 179);
}

table {
  border: 2px solid black;
  margin: 4em;
}
footer {
  background-color: lightblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: Arial;
}

img {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  /* height: auto; */


}
img.center {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-family: 
}

figcaption {
  text-align: center;
}
